@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

@font-face {
    font-family: 'Unifont';
    src: url('./font.otf') format('opentype');
}

:root {
    --base: var(--ctp-latte-base);
    --text: var(--ctp-latte-text);

    --blue: var(--ctp-latte-red);
    --red: var(--ctp-latte-blue);


    --overlay0: var(--ctp-latte-overlay2);
    --overlay2: var(--ctp-latte-overlay0);

    --surface0: var(--ctp-latte-surface0);
    --surface2: var(--ctp-latte-surface2);

    --T: var(--ctp-frappe-mauve);
    --I: var(--ctp-frappe-sky);
    --J: var(--ctp-frappe-blue);
    --L: var(--ctp-frappe-peach);
    --O: var(--ctp-frappe-yellow);
    --S: var(--ctp-frappe-green);
    --Z: var(--ctp-frappe-red);
    --G: var(--ctp-frappe-text);
}

:root[data-theme="dark"] {
    --base: var(--ctp-mocha-base);
    --text: var(--ctp-mocha-text);

    --blue: var(--ctp-mocha-blue);
    --red: var(--ctp-mocha-red);

    --overlay0: var(--ctp-mocha-overlay0);
    --overlay2: var(--ctp-mocha-overlay2);

    --surface0: var(--ctp-mocha-surface0);
    --surface2: var(--ctp-mocha-surface2);

    --T: var(--ctp-mocha-mauve);
    --I: var(--ctp-mocha-sky);
    --J: var(--ctp-mocha-blue);
    --L: var(--ctp-mocha-peach);
    --O: var(--ctp-mocha-yellow);
    --S: var(--ctp-mocha-green);
    --Z: var(--ctp-mocha-red);
    --G: var(--ctp-mocha-text);
}

* {
    font-family: 'Unifont', monospace;
    font-size: 12pt;
}

::selection {
    background-color: var(--blue);
    color: var(--base);
}

body {
    background-color: var(--base);
    color: var(--text);
}

a {
    color: var(--blue);
}

#credits {
    text-align: center;
    margin-top: 1em;
    color: var(--overlay0);
}

#container {
    display: grid;
}

#settings-container {
    display: grid;
    grid-template-columns: 37% 26% 10% 27%;
}

#functions {
    text-align: center;
}

button {
    background: none;
    border: none;
    color: var(--overlay0);
}

input {
    background: none;
    outline: none;
    border: 1px solid var(--overlay0);
    color: var(--overlay0);
    padding: 0px;
}

input:focus {
    border: 1px solid var(--red);
    color: var(--red);
}

input#queue {
    margin-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: calc(19em - 2px);
    min-height: 1.5em;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

#board {
    /* vertically align the board */
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#save-picker-container {
    display: flex;
    justify-content: flex-end;
}

#save-picker,
#pc-picker {
    width: min-content;
}

#save-picker-header,
#pc-picker-header {
    color: var(--surface2);
}

.board-table {
    display: inline-block;
    font-size: 0;
}

.board-cell {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
    max-width: 2em;
    max-height: 2em;
    display: inline-block;
}

.board-row {
    display: block;
    white-space: nowrap;
    height: calc(10vw - 2px);
    max-height: 2em;
}

.board-cell.off {
    background-color: var(--surface0);
}

.board-cell.on {
    background-color: var(--overlay0);
}

.save.off,
.pc.off,
.physics.off {
    color: var(--overlay2);
}

.save.on,
.pc.on,
.physics.on {
    color: var(--red);
}

.save.disabled,
.pc.disabled,
.physics.disabled {
    color: var(--surface0);
}


button:hover {
    text-decoration: underline dotted !important;
}

a:active,
button:active {
    color: var(--text) !important;
}

.cT {
    background-color: var(--T);
}

.cI {
    background-color: var(--I);
}

.cJ {
    background-color: var(--J);
}

.cL {
    background-color: var(--L);
}

.cO {
    background-color: var(--O);
}

.cS {
    background-color: var(--S);
}

.cZ {
    background-color: var(--Z);
}

.cG {
    background-color: var(--G);
}

.s {
    outline: 1px solid;
}

.sT {
    outline-color: var(--T);
}

.sI {
    outline-color: var(--I);
}

.sJ {
    outline-color: var(--J);
}

.sL {
    outline-color: var(--L);
}

.sO {
    outline-color: var(--O);
}

.sS {
    outline-color: var(--S);
}

.sZ {
    outline-color: var(--Z);
}

.sG {
    outline-color: var(--G);
}

.sol-cell {
    width: 1.5em;
    height: 1.5em;
    border: 0;
    padding: 0;
    margin: 0;
}

.sol-table {
    display: grid;
    font-size: 0;
    outline: 0;
    border-collapse: collapse;
    margin: 5px;
}

.solution {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    border-collapse: collapse;
}

.sol-row {
    border: 0;
}

.save-c {
    color: var(--base);
}

.hidden {
    display: none;
}

#physics-hold.on {
    color: var(--red);
}

#physics-hold.on::before {
    content: "+ ";
}

#physics-hold.off {
    color: var(--surface2);
}

#physics-hold.off::before {
    content: "- ";
}